div{
  background-image: url("notepad.jpg");
padding-top: 1cm;
padding-bottom:1cm;
margin-right:1cm;
margin-left:1cm;
margin-bottom:1cm;
 
}body {
   background-image: url("hardwood.png");
 }



p{
	padding-left:1.5cm;
	padding-right:1.5cm;
}
button{
    background-image: url("stickynote2.jpg");
    width:100%;
    color:black;
    font-size: 15pt;
     border-radius: 25px;
	 padding: 10px;
  	width: 100px;
  	height: 50px;
}
.stickynote2{
  background-image: url("stickynote.jpg");
   width:100%;
    color:black;
    font-size: 15pt;
     border-radius: 25px;
   padding: 10px;
    width: 100px;
    height: 50px;
}
.stickynote1{
  background-image: url("sticknote3.jpg");
}
h1 {
  color: yellow;
   font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 50px;
}

p{
	color:black;
	   font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	text-align: center;
	font-size:30px;
}
.ideas{
  text-align:left;
}
.images{
  margin-left:10cm;
  margin-right: 10cm;
  margin-bottom:0cm;
  padding-bottom: 0cm;
}

.image3{
  width:25%;
  margin-left: 12cm;
  margin-right: 10cm;
}
.side1{
  width: 40%;
}
.side2{
  width: 25%;

}
